<script>
import { GlSprintf, GlTooltipDirective, GlModal } from '@gitlab/ui';
import { __, s__ } from '~/locale';
import { helpPagePath } from '~/helpers/help_page_helper';
import eventHub from '../event_hub';
import stopEnvironmentMutation from '../graphql/mutations/stop_environment.mutation.graphql';

export default {
  yamlDocsLink: helpPagePath('ci/yaml/index'),
  stoppingEnvironmentDocsLink: helpPagePath('ci/environments/index', {
    anchor: 'stopping-an-environment',
  }),

  id: 'stop-environment-modal',
  name: 'StopEnvironmentModal',

  components: {
    GlModal,
    GlSprintf,
  },

  directives: {
    GlTooltip: GlTooltipDirective,
  },

  props: {
    environment: {
      type: Object,
      required: true,
    },
    graphql: {
      type: Boolean,
      required: false,
      default: false,
    },
  },

  computed: {
    primaryProps() {
      return {
        text: s__('Environments|Stop environment'),
        attributes: { variant: 'danger' },
      };
    },
    cancelProps() {
      return {
        text: __('Cancel'),
      };
    },
    hasStopAction() {
      return this.graphql ? this.environment.hasStopAction : this.environment.has_stop_action;
    },
  },

  methods: {
    onSubmit() {
      if (this.graphql) {
        this.$apollo.mutate({
          mutation: stopEnvironmentMutation,
          variables: { environment: this.environment },
        });
      } else {
        eventHub.$emit('stopEnvironment', this.environment);
      }
    },
  },
};
</script>
<template>
  <gl-modal
    :modal-id="$options.id"
    :action-primary="primaryProps"
    :action-cancel="cancelProps"
    @primary="onSubmit"
  >
    <template #modal-title>
      <gl-sprintf :message="s__('Environments|Stopping %{environmentName}')">
        <template #environmentName>
          <span
            v-gl-tooltip
            :title="environment.name"
            class="gl-text-truncate gl-ml-2 gl-mr-2 gl-flex-grow-1"
          >
            {{ environment.name }}?
          </span>
        </template>
      </gl-sprintf>
    </template>

    <p v-if="hasStopAction">
      {{ s__('Environments|You are about to stop the environment %{environmentName}. Any deployments associated with this environment will no longer be accessible, and the environment will be moved to the Stopped tab.') }}
      <template #environmentName>
        {{ environment.name }}
      </template>
      <a :href="$options.stoppingEnvironmentDocsLink" target="_blank" rel="noopener noreferrer">{{
        s__('Environments|Learn more about stopping environments')
      }}</a>
    </p>
    <p v-else>
      {{ s__('Environments|You are about to stop the environment %{environmentName}. The environment will be moved to the Stopped tab. There is no action:stop defined for this environment, so your existing deployments will not be affected.') }}
      <template #environmentName>
        {{ environment.name }}
      </template>
      <a :href="$options.stoppingEnvironmentDocsLink" target="_blank" rel="noopener noreferrer">{{
        s__('Environments|Learn more about stopping environments')
      }}</a>
    </p>
  </gl-modal>
</template>
